body {
    background-color: #878787;
    color:#50FA7B;
}

.jumbotron {
    background-color: #3C4556;
}

a {
    color: #FFB86C; 
}

h2 {
    color: #BD93F9;
}

.button {
    color: #E7503B;
}

.fa-brain {
    color: pink;
}